.portfolio__item__excerpt__container {
  display: flex;
  flex-flow: column;
  background: #fafafa;
  border-radius: 0 0 10px 10px;
}

.portfolio__item__excerpt__text {
  margin: 1rem 0 0 1rem;
}

.portfolio__item__excerpt__title {
  margin: 1rem 0 0 1rem;
  font-weight: 700;
}

.portfolio__item__img__container {
  border-radius: 10px 10px 0 0;
  min-width: 200px;
  min-height: 200px;
}

.portfolio__item:focus,
.portfolio__item:active {
  outline: 3px solid var(--clr-accent);
  outline-offset: 3px;
}

 

.portfolio__item__excerpt__cta__link {
  color: #303030;
  font-size: 1.375rem;
  max-height: var(--button-min-height);
  padding: 0.4rem 0.3rem;
  transition: all 0.3s;
  border: none;
  background: transparent;
}

.portfolio__item__excerpt__cta__link:hover,
.portfolio__item__excerpt__cta__link:active {
  transform: translateX(2px);
}

.portfolio__item__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  width: 100%;
}

@media (min-width: 786px) {
  .portfolio__item {
    grid-row: 1 / 4;
    grid-column: 1;
  }

  .portfolio__item__container {
    display: grid;
    width: initial;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  }

 
}
