:root {
  --gap: 10px;
}

.portfolio__wrapper {
  display: grid;
  grid-template-columns: var(--gap) 1fr var(--gap);
  align-content: start;
}

.portfolio__wrapper > * {
  grid-column: 2 / -2;
}

.portfolio__wrapper > .full {
  grid-column: 1 / -1;
}

.portfolio {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 10px;
  grid-auto-columns: minmax(clamp(50% - 10px, 306px, 100% - 10px), 1fr);
  grid-template-rows: minmax(clamp(50%, 100px, 100%), 1fr);
  overflow-x: auto;
  scrollbar-width: none;
  scroll-snap-type: x proximity;
  column-gap: var(--gap);
}

.portfolio::before,
.portfolio::after {
  content: "";
  width: 10px;
}

.portfolio::-webkit-scrollbar {
  display: none;
}

.portfolio:focus {
  outline: var(--border);
  outline-offset: 3px;
}

@media (min-width: 786px) {
  .portfolio__wrapper {
    align-items: center;
    justify-items: center;
  }
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-auto-columns: minmax(360px, 1fr);
    grid-template-rows: initial;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }

  .project__link__mobile {
    display: none;
  }

  .portfolio::before,
  .portfolio::after {
    content: none;
    width: 0;
  }
}
