
.portfolio {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  overflow-x: auto;
  scrollbar-width: none;
  margin-bottom: 10px;
  margin-left: 20px;
  column-gap: 10px;
}

.portfolio::-webkit-scrollbar {
  display: none;
}

.portfolio:focus {
  outline: var(--border);
  outline-offset: 3px;
}

@media (min-width: 768px) {
  .portfolio {
    grid-template-columns: repeat(auto-fit, minmax(360px, 390px));
    grid-auto-flow: initial;
    overflow: hidden;
    gap: 30px 30px;
    align-items: center;
    justify-content: center;
  }

  .project__link__mobile {
    display: none;
  }
}
