.slideContainer {
    display: flex;
}

.slide {
    display: grid;
    min-width: 100%;
}

.image {
    grid-row: 1;
    grid-column: 1/2;
}

.caption {
    background: rgba(48, 48, 48, 0.5);
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    min-height: 44px;
    grid-row: 1;
    grid-column: 1/2;
    align-self: end;
    z-index: 5;
}
