@font-face {
  font-family: "Montserrat";
  src:
    url("../../static/fonts/montserrat/Montserrat-black.woff2") format('woff2'),
    url("../../static/fonts/montserrat/Montserrat-black.woff") format('woff'),;
}

@font-face {
  font-family: "OpenSans";
  src:
    url("/../../static/fonts/opensans/OpenSans-Regular.woff2") format('woff2'),
    url("../../static/fonts/opensans/OpenSans-Regular.woff") format('woff'),;
}
