:root {
  --button-margin: 15px;
  --button-border: none;
  --button-border-radius: 5px;
  --button-background-color: #e8e9ee;
  --button-min-width: 44px;
  --button-min-height: 44px;
  --button-align-self: center;
  --button-padding-right: 5px;
  --button-padding-left: 5px;
  --button-text-color: rgb(17, 34, 62);
} /* background */
.section__bg--silver-sand {
  background-color: #e8e9ee;
}

/* base class */
.section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 120px 0 100px;
}

.section__title {
  margin-bottom: 0.25em;
  align-self: center;
}

.section__title--black {
  color: #303030;
}

.section__title--White {
  color: #fffafa;
}

.section__subtitle {
  margin-bottom: 5px;
  font-size: 1.8rem;
  align-self: center;
}

.section__container {
  display: flex;
  flex-flow: column;
}

/* contact */
.section--contact {
  display: flex;
  flex: 1 1 0%;
  padding: 0;
}

.section__contact__title {
  color: white;
  font-size: 3rem;
  align-self: center;
}

.section__contact__phone {
  align-self: center;
  margin: 1.25rem 0 1.25rem 0;
  color: #ffcc01;
  transition: border 250ms ease-out;
  padding: 0 var(--button-padding-right) 0 var(--button-padding-left);
  border-radius: var(--button-border-radius);
}

.section__contact__phone:hover {
  border-bottom: 2.5px solid;
}

/* project */
.section--project {
  margin-bottom: -1px;
}

.section__title--project {
  margin-top: 50px;
  color: #fffafa;
  font-size: 3rem;
  margin-bottom: 1rem;
  align-self: center;
}

.section__subtitle--project {
  color: #ffcc01;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section__bg--oxford-blue--project {
  background-color: rgba(17, 34, 62, 0.9);
}

/* about section */
.wrapper--about {
  background-size: contain;
  background-position: left top;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2MTQuNjIyIDc2OC4yNjUiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICNlZmVlZmY7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGlkPSJQYXRoXzI5IiBkYXRhLW5hbWU9IlBhdGggMjkiIGNsYXNzPSJjbHMtMSIgZD0iTTAsMTQ2Ny44NjRTMTAuNzUsMTcxNy44OCwxNjguNjM1LDE3NjcuNXMzNzkuOTQ3LDE5Ny45OTUsNDQxLjQyLDMwMi4xNTFTMCwyMjk4LjI5MywwLDIyMDAuODc1LTEuMzI4LDE0NjcuMzgsMCwxNDY3Ljg2NFoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAuNTkgLTE0NjcuODY0KSIvPgo8L3N2Zz4K");
}

.section__container--about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.section__bg--oxford-blue--about {
  background-color: rgba(17, 34, 62, 0.8);
}

.section__about__title {
  align-self: center;
  font-size: 3rem;
}

.section__about__body {
  flex: 1;
  color: #fffafa;
  font-size: 1.6rem;
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.section__about__illustration__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

/* intro */
.section--intro {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.wrapper {
  padding-bottom: 4rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 837.3 703.7'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23e8e9ee%7D%3C/style%3E%3C/defs%3E%3Cpath d='M0 0s147.8 100.8 67.5 300.3S620 377.5 620 377.5l-24.2 180.4 40.6 131.5 201-62.8V0z' class='a'/%3E%3Cpath d='M439.4 310.9c-45.1-1.6-88-16.1-129-32s-81.5-33.6-125.5-42c-28.3-5.4-60.7-6.2-83.4 9-22 14.6-29 39.7-32.9 63.1-2.8 17.6-4.5 36.1 3.3 52.6 5.5 11.4 15.2 21 21.9 32 23.3 38 6.8 85-18.5 122.2-11.8 17.5-25.5 34.1-34.7 52.7s-13.3 39.8-5.3 58.8C43.2 646 62 660.2 82.5 670c41.6 20.1 90.5 26 138.3 29.2 105.7 7.2 212 4 318 1a934 934 0 0 0 117.1-8.4c21.4-3.4 43.5-8.8 59.1-21.6a49.5 49.5 0 0 0 11.4-64.7c-22.2-34.4-83.5-43-99-80-8.6-20.3.2-43 12.6-61.9 26.6-40.5 71.2-76 73.6-122.3 1.6-31.8-19.9-63.6-53-78.6C625.8 247 577.6 249 552 275c-26.5 26.8-72.9 37.2-112.6 35.8z' class='a'/%3E%3C/svg%3E");
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.section__intro__details__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.section__intro__link {
  display: none !important;
}

.section__intro__illustration__container {
  flex: 1;
}

.section__title--intro {
  font-size: 2.5rem;
  line-height: 50px;
  color: #e4f1fe;
  text-align: center;
  mix-blend-mode: difference;
}

.section__subtitle--intro,
.section__subtitle--project {
  font-family: "open sans", sans-serif;
}

.button {
  display: inline-block;
  margin: var(--button-margin);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  align-self: var(--button-align-self);
  padding-right: var(--button-padding-right);
  padding-left: var(--button-padding-left);
}

.button p {
  color: var(--button-text-color);
}

@media (min-width: 400px) and (max-width: 768px) {
  .section__about__body > p {
    mix-blend-mode: difference;
  }

  .button p {
    color: #3d3d3d;
  }
}

@media only screen and (min-width: 964px) {
  .button {
    mix-blend-mode: normal !important;
  }
}

@media only screen and (min-width: 768px) {
  .section__intro__link {
    display: inline-block !important;
  }

  .button {
    mix-blend-mode: difference;
  }

  .section__intro__link > p {
    font-size: 1.2rem;
  }

  .section__intro__link:active,
  .section__intro__link:focus {
    background-color: var(--button-background-color) !important;
  }

  .section--intro {
    display: flex;
    flex-flow: row;
  }

  .section__title--intro {
    margin: 50px;
  }

  .section__about__body {
    flex: 1;
    color: #fffafa;
    font-size: 1.6rem;
    align-self: center;
    mix-blend-mode: initial;
  }

  .section__container--about {
    display: flex;
    flex-flow: row wrap;
  }
}
