.maintenance_container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100vh;
}
.maintenance_content {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
