
.portfolio {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 1fr);
  overflow-x: auto;
  scrollbar-width: none;
  column-gap: 10px;
  margin-bottom: 10px;
}

.portfolio::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .portfolio {
    grid-auto-flow: initial;
    grid-template-columns: repeat(auto-fit, minmax(456px, 1fr));
    align-items: center;
    justify-items: center;
    overflow: hidden;
    gap: 10px 10px;
  }

  .project__link__mobile {
    display: none;
  }
}
