footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background: var(--bg-color-ternary);
    min-height: 10rem;
    width: 100%;
}

.text {
    width: 80%;
    margin-bottom: 1.6rem;
    color: var(--text-color-light);
    font-size: 2rem;
}
