:root {
  --button-margin: 15px;
  --button-border: none;
  --button-border-radius: 5px;
  --button-background-color: #e8e9ee;
  --button-min-width: 44px;
  --button-min-height: 44px;
  --button-align-self: center;
  --button-padding-right: 5px;
  --button-padding-left: 5px;
  --button-text-color: rgb(17, 34, 62);
} /* background */
.section__bg--silver-sand {
  background-color: #e8e9ee;
}

/* base class */
.section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 120px 0 100px;
}

.section__title {
  margin-bottom: 0.25em;
  align-self: center;
}

.section__title--black {
  color: #303030;
}

.section__title--White {
  color: #fffafa;
}

.section__subtitle {
  margin-bottom: 5px;
  font-size: 1.8rem;
  align-self: center;
}

.section__container {
  display: flex;
  flex-flow: column;
}

/* contact */
.section--contact {
  display: flex;
  flex: 1 1 0%;
  padding: 0;
}

.section__contact__title {
  color: white;
  font-size: 3rem;
  align-self: center;
}

.section__contact__phone {
  align-self: center;
  margin: 1.25rem 0 1.25rem 0;
  color: #ffcc01;
  transition: border 250ms ease-out;
  padding: 0 var(--button-padding-right) 0 var(--button-padding-left);
  border-radius: var(--button-border-radius);
}

.section__contact__phone:hover {
  border-bottom: 2.5px solid;
}

/* project */
.section--project {
  margin-bottom: -1px;
}

.section__title--project {
  margin-top: 50px;
  color: #fffafa;
  font-size: 3rem;
  margin-bottom: 1rem;
  align-self: center;
}

.section__subtitle--project {
  color: #ffcc01;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.section__bg--oxford-blue--project {
  background-color: rgba(17, 34, 62, 0.9);
}

/* about section */
.wrapper--about {
}

.section__container--about {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
}

.section__bg--oxford-blue--about {
  background-color: rgba(17, 34, 62, 0.8);
}

.section__about__title {
  align-self: center;
  font-size: 3rem;
}

.section__about__body {
  flex: 1;
  color: #fffafa;
  font-size: 1.6rem;
  align-self: center;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
}

.section__about__illustration__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

/* intro */
.section--intro {
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  height: 100vh;
  background-color: white;
}

.wrapper {
  padding-bottom: 4rem;
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.section__intro__details__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

.section__intro__link {
  display: none !important;
}

.section__intro__illustration__container {
  flex: 1;
}

.section__title--intro {
  font-size: 2.5rem;
  line-height: 50px;
  color: #e4f1fe;
  text-align: center;
  mix-blend-mode: difference;
}

.section__subtitle--intro,
.section__subtitle--project {
  font-family: "open sans", sans-serif;
}

.button {
  display: inline-block;
  margin: var(--button-margin);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  align-self: var(--button-align-self);
  padding-right: var(--button-padding-right);
  padding-left: var(--button-padding-left);
}

.button p {
  color: var(--button-text-color);
}

@media (min-width: 400px) and (max-width: 768px) {
  .section__about__body > p {
    mix-blend-mode: difference;
  }

  .button p {
    color: #3d3d3d;
  }
}

@media only screen and (min-width: 964px) {
  .button {
    mix-blend-mode: normal !important;
  }
}

@media only screen and (min-width: 768px) {
  .section__intro__link {
    display: inline-block !important;
  }

  .button {
    mix-blend-mode: difference;
  }

  .section__intro__link > p {
    font-size: 1.2rem;
  }

  .section__intro__link:active,
  .section__intro__link:focus {
    background-color: var(--button-background-color) !important;
  }

  .section--intro {
    display: flex;
    flex-flow: row;
  }

  .section__title--intro {
    margin: 50px;
  }

  .section__about__body {
    flex: 1;
    color: #fffafa;
    font-size: 1.6rem;
    align-self: center;
    mix-blend-mode: initial;
  }

  .section__container--about {
    display: flex;
    flex-flow: row wrap;
  }
}
