/* base class */
.section {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 120px 0 100px;
}

.title {
    margin-bottom: 0.25em;
    align-self: center;
}

.title-black {
    color: #303030;
}

.title-white {
    color: var(--title-color-dark);
}

/* project */

.section-project {
    position: relative;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 0;
}

/* about section */
.about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1.6rem 0 5rem 0;
    background-color: var(--bg-color-ternary);
    max-width: none;
    width: auto;
    min-height: 46vh;
}

.about-title {
    align-self: center;
    font-size: 4.8rem;
    color: var(--text-color-light);
}

.about-me {
    color: var(--text-color-light);
    font-size: 1.6rem;
    align-self: center;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    margin-top: 1.6rem;
    text-align: center;
}

.about-skills {
    order:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #303030;
    margin-top: 4rem;
}

.about-skills > ul {
    max-width: 60rem;
}

/* contact */
.contact {
    display: flex;
    flex: 1 1 0%;
}

.contact-title {
    color: white;
    font-size: 3rem;
    align-self: center;
}

.contact-phone {
    align-self: center;
    margin: 2rem 0 2rem 0;
    color: #ffcc01;
    transition: border 250ms ease-out;
    padding: 0 var(--button-padding-right) 0 var(--button-padding-left);
    border-radius: var(--button-border-radius);
}

.contact-phone:hover {
    border-bottom: 0.25rem solid;
}

.button {
    background-color: var(--bg-color-secondary);
    min-width: 11.4rem;
    min-height: 6rem;
    margin-top: 1.6rem;
}

.button > p {
    margin: 1.9rem;
}

@media only screen and (min-width: 768px) {
    .about {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        row-gap: 1.6rem;
        min-height: 50vh;
    }
    .about-me{
        margin-top: 0;
        text-align: initial;
        max-width: 50rem;
    }
    .about-me,.about-skills {
        align-self: flex-start;
    }
    .about-skills{
        margin-top: 0;
        order:unset;
    }
    .about-skills > ul {
        padding-right: 5rem;
        padding-left: 5rem;
    }

    .about-title {
        grid-row: 1/1;
        grid-column: 1 / span 2;
        justify-self: center;
        margin-top: auto;
    }

    .section-project {
        position: relative;
        flex-flow: column;
        justify-content: flex-start;
        align-content: flex-start;
        padding: 100px;
        bottom: 0;
    }
}
