/* base class */
.section {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 120px 0 100px;
}

.section__title {
  margin-bottom: 0.25em;
  align-self: center;
}

.section__title--black {
  color: #303030;
}

.section__title--White {
  color: #fffafa;
}

.section__subtitle {
  margin-bottom: 5px;
  font-size: 1.8rem;
  align-self: center;
}

.section__container {
  display: flex;
  flex-flow: column;
}

/* intro */
.section--intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-self: flex-end;
  height: 50vh;
  background-color: white;
}

.skewed {
  transform: skewY(var(--reversed-skewed-y));
  transform-origin: top right;
}

.skewed > * {
  transform: skewY(var(--skewed-y));
}

.wrapper {
  padding-bottom: 4rem;
  background-size: contain;
  background-position: right top;
  background-repeat: no-repeat;
}

.section__intro__details__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  z-index: 1;
}

.section__intro__link {
  display: none !important;
  background: transparent !important;
  border: var(--bg-color-primary) solid 0.25rem !important;
  border-radius: 0;
}

.section__intro__illustration__container {
  flex: 1;
}

.section__title--intro {
  font-size: 0.8rem;
  inline-size: 50vw;
  line-height: 50px;
  color: #303030;
  text-align: center;
  margin: 1rem;
}

.section__title--intro--headline {
  margin: 0 0 1.25rem 0;
  font-size: 1.5rem;
}

.section__subtitle--intro,
.section__subtitle--project {
  font-family: 'open sans', sans-serif;
}

/* project */

.section--project {
  position: relative;
  flex-flow: column;
  justify-content: flex-start;
  align-content: flex-start;
  padding: 0;
  bottom: 10rem;
}

.section__title--project {
  margin-top: 50px;
  color: #303030;
  font-size: 1rem;
  margin-bottom: 1rem;
  align-self: flex-start;
  margin-left: 1.5rem;
}

.section__subtitle--project {
  color: #ffcc01;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

/* about section */
.section--about {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background: #fffafa;
  margin-top: 1rem;
  padding-top: 1rem;
}

.section__about__title {
  align-self: center;
  font-size: 3rem;
  color: #303030;
}

.section__about__body {
  flex: 1;
  color: #303030;
  font-size: 1.6rem;
  align-self: center;
  display: flex;
  flex-flow: column;
}

.section__about__paragraph {
  font-family: 'Poppins', sans-serif;
  align-self: center;
}

.section__about__illustration__container {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
}

/* contact */
.section--contact {
  display: flex;
  flex: 1 1 0%;
}

.section__contact__title {
  color: white;
  font-size: 3rem;
  align-self: center;
}

.section__contact__phone {
  align-self: center;
  margin: 1.25rem 0 1.25rem 0;
  color: #ffcc01;
  transition: border 250ms ease-out;
  padding: 0 var(--button-padding-right) 0 var(--button-padding-left);
  border-radius: var(--button-border-radius);
}

.section__contact__phone:hover {
  border-bottom: 2.5px solid;
}

.button {
  display: inline-block;
  margin: var(--button-margin);
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background-color: var(--button-background-color);
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  align-self: var(--button-align-self);
  padding-right: var(--button-padding-right);
  padding-left: var(--button-padding-left);
}

.button p {
  color: var(--button-text-color);
}

@media (min-width: 400px) and (max-width: 768px) {
  .button p {
    color: #3d3d3d;
  }
}

/* TODO  defined design intro and other section and finish it  */
@media only screen and (min-width: 768px) {
  .section__intro__link {
    display: inline-block !important;
  }

  .section__intro__link > p {
    font-size: 1.2rem;
  }

  .section__intro__link:active,
  .section__intro__link:focus,
  .section__intro__link:hover {
    background-color: var(--bg-color-primary) !important;
  }

  .section__intro__link:active,
  .section__intro__link:focus,
  .section__intro__link:hover > p {
    color: white;
  }

  .section--intro {
    display: flex;
    flex-flow: row;
    height: 768px;
  }

  .section__title--intro {
    font-size: 3.6rem;
    margin: 0 0 1.25rem 0;
  }

  .section__title--intro--headline {
    margin: 0 0 1.25rem 0;
    font-size: 4.2rem;
  }

  .section--about {
    min-height: 75vh;
  }

  .section__about__body {
    align-self: center;
    padding: 0;
  }

  .section__about__title {
    margin-top: 2rem;
  }

  .section--project {
    position: relative;
    flex-flow: column;
    justify-content: flex-start;
    align-content: flex-start;
    padding: 100px;
    bottom: 0;
  }

  .section__title--project {
    color: #fffafa;
    font-size: 3rem;
    align-self: center;
    margin: 2rem 0 2rem 0;
  }

  .section__subtitle--project {
    color: #ffcc01;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
}
