.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    row-gap:0.8rem;
}

.title {
    align-self: center;
    font-size: 1.6rem;
    color:#303030;
}
