.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.2rem;
    overflow-x: hidden;
    color: var(--body-color);
}

.paper {
    background-color: var(--bg-color) !important;
}

.container h1 {
    font-size: 2.08rem;
}

.container ul {
    list-style-type: none;
}

.container li {
    display: flex;
    align-items: center;
    white-space: nowrap;
    font-size: 1.6rem;
    color: var(--body-color);
    margin: 0 2rem 1rem 0;
}

.container li svg {
    color: var(--color-accent-dark);
    height: 1.6rem;
    margin-right: 0.5rem;
}

.container p,
.container span {
    font-size: 1.6rem;
    font-weight: 600;
}

.header {
    display: flex;
    position: relative;
    justify-content: flex-end;
}

.header__title {
    flex: 1;
    margin: 0 auto !important;
    display: flex;
    justify-content: center;
}

.header__title > h2 {
    font-weight: 764;
    font-size: 2.4rem;
    color: var(--body-color);
}

.paper h2:first-letter,
.paper h1:first-letter {
    color: var(--color-accent-dark);
}

.icon-button {
    color: var(--text-color-light);
    background-color: var(--bg-color-ternary);
    margin-right: 2rem;
}

.close-icon {
    font-size: 2.5rem !important;
}

.SlideShow__container {
    flex: 1;
}

.details__project {
    margin-top: 0.64rem;
    align-self: flex-start;

    & p {
        margin: 2rem 0;
    }

    & h1 {
        position: relative;
        margin: 2rem 0;
    }
}


@media (min-width: 768px) {
    .SlideShow__container {
        max-width: 960px;
        align-self: flex-start;
        margin-right: 3.2rem;
        flex: 1;
    }

    .details__project {
        flex: 1;
        margin-top: 0;

        & h1:nth-child(1) {
            margin: 0 0 2rem 0;
        }
    }
}
